<?xml version="1.0" encoding="utf-8"?>

<!-- 参考
http://www.cnblogs.com/heys/p/5787123.html - 使用Common.Logging+log4net规范日志管理
http://www.cnblogs.com/chen-whutgis/p/4129271.html - Common.Logging log4net Common.Logging.Log4Net 配置
http://www.cnblogs.com/lwhkdash/p/6422907.html - Log4net配置与使用简要说明
-->

<log4net>
  
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
    </layout>
  </appender>

  <appender name="InfoRollingLogFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
    <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="File" value="logs/" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="'Info-'yyyy-MM-dd.'log'" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="10" />
    <param name="MaximumFileSize" value="5MB" />
    <param name="RollingStyle" value="Date" />
    <!--Size ==- Date-->
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="WARN"/>
    </filter>
  </appender>

  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender, log4net">

    <!-- 文件锁类型，RollingFileAppender本身不是线程安全的，如果在程序中没有进行线程安全的限制，可以在这里进行配置，确保写入时的安全。有两中类型：FileAppender.ExclusiveLock 和 FileAppender.MinimalLock -->
    <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />

    <param name="File" value="logs/" />
    <param name="StaticLogFileName" value="false" />

    <!-- 日志文件编码格式 -->
    <param name="Encoding" value="utf-8" />

    <!--日期的格式-->
    <param name="DatePattern" value="yyyy-MM-dd'.log'" />
    <param name="AppendToFile" value="true" />

    <!--最大变换数量-->
    <param name="MaxSizeRollBackups" value="10" />

    <!-- 最大文件大小 -->
    <param name="MaximumFileSize" value="10MB" />

    <!-- 混合使用日期和文件大小变换日志文件名 -->

    <!-- 创建新文件的方式
    Once	    Roll files once per program execution - 每启动一次创建一个文件
    Size	    Roll files based only on the size of the file - 按文件大小
    Date	    Roll files based only on the date - 按日期
    Composite	Roll files based on both the size and date of the file - 按日期及文件大小
    -->
    <param name="RollingStyle" value="Composite"/>

    <!-- 输出格式化 -->
    <layout type="log4net.Layout.PatternLayout">
      <!--<param name="ConversionPattern" value="%n[时间]:%d%n[级别]:%p%n[内容]:%m%n" />-->
      <param name="ConversionPattern" value="[内容]:%m%n" />
    </layout>

    <!-- 记录日志级别限定 -->
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>

  <appender name="DefaultRollingLogFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
    <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="File" value="logs/" />
    <!--文件保存的路径-->
    <param name="StaticLogFileName" value="false" />
    <!--文件名动态生成-->
    <param name="DatePattern" value="'Default-'yyyy-MM-dd.'log'" />
    <!--文件名命名规则-->
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="10" />
    <param name="MaximumFileSize" value="5MB" />
    <!--文件超过5M将创建新文件-->
    <param name="RollingStyle" value="Date" />
    <!--Size ==- Date-->
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      <!--日志内容格式-->
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <!--日志级别过滤器：此附加器只附加指定级别的日志-->
      <levelMin value="DEBUG"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
    <!-- 多加一个 appender 会同时写入 -->
  </root>

  <!--<logger name="MyApp.DataAccessLayer">
    <level value="DEBUG" />
  </logger>
  -->
  <!-- ALL DEBUG INFO WARN ERROR FATAL OFF [DEBUG < INFO < WARN < ERROR < FATAL] 大范围 到 小范围-->
  <!--
  
  <logger name="LogDemoWeb._Default" debug="false"> 未某个具体名字的logger进行配置,例如在代码中 LogManager.GetLogger("SomeLoggerFoo")，那么该logger就会使用这个配置
    <level value="ALL" />
    <appender-ref ref="DefaultRollingLogFileAppender" /> 指定使用哪个appnder
  </logger>-->
</log4net>
