@{
    Layout = null;
}
<div>
    <div class="form-group">
        <label>父级分类</label>
        <select class="form-control" id="inp-category">
            <option value="0">- 无 -</option>
            <option value="1">程序开发</option>
            <option value="2">C# & .Net</option>
            <option value="5">异步多线程</option>
        </select>
    </div>

    <div class="form-group">
        <label for="inp-title">分类名称</label>
        <input type="text" class="form-control" id="inp-title" placeholder="分类名称" value="">
    </div>

</div>