@{
    ViewBag.Title = "附件管理";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <a href="" class="btn btn-success">上 传</a>

                <div class="pull-right">
                    <form action="/attachment" method="get" class="form-horizontal" style="max-width: 300px;">
                        <div class="input-group">
                            <input type="text" class="form-control" name="s" placeholder="文件名称" value="@ViewBag.SearchWords">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info btn-flat">搜 索</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="box-body">


                <div id="uploader" class="wu-example">
                    <!--用来存放文件信息-->
                    <div id="uploader-list"></div>
                    <div class="btns">
                        <div id="picker">选择文件</div>
                        <button class="btn btn-default upload-btn">开始上传</button>
                    </div>
                </div>


                <table class="table table-bordered table-hover table-striped" style="display:none;">
                    <thead>
                        <tr>
                            <th style="width: 10px"><input type="checkbox" class="minimal"></th>
                            <th>文件名</th>
                            <th style="width:100px;">大小</thstyle="width:100px;">
                            <th style="width: 120px">修改日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 20; i++)
                        {
                        <tr>
                            <td>
                                <input type="checkbox" class="minimal">
                            </td>
                            <td>VisualStudio2017_ProductLaunchPoster-1.png</td>
                            <td>
                                15.1 MB
                            </td>
                            <td>@DateTime.Now.ToString("yyyy-MM-dd HH:mm")</td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@{
    var wc = JIF.CMS.Core.Infrastructure.EngineContext.Current.Resolve<IWorkContext>();
}

<script id="dt-upload-item" type="text/x-dot-template">
    <div id="{{=it.id}}" class="item">
        <h4 class="info">{{=it.name }}</h4>
        <div class="progress active">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only state">等待上传 <i>60%</i></span>
            </div>
        </div>
    </div>
</script>


@section Scripts {

    <script src="~/Content/webuploader-0.1.5/webuploader.js"></script>
    <script src="~/Content/doT/doT.min.js"></script>
    <script src="~/js/attachment.js"></script>

    <script type="text/javascript">
        var cuid = @wc.CurrentUser.Id;

        $(function () {
            attachmentUpload.init();
        })
    </script>
}


@section Styles {
    <link href="~/Content/webuploader-0.1.5/webuploader.css" rel="stylesheet" />
}